<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
      <style>
        body {
          background-color: #79c9ff;
        }  
      </style>
      <header>
          <a href="index.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">FitnessApp2017</a>
          <a href="FitnessAppRegister.html" class="btn btn-primary btn-lg active float-right" role="button" aria-pressed="true">Register</a>
          <a href="FitnessAppLogin.html" class="btn btn-primary btn-lg active float-right" role="button" aria-pressed="true">Sign In</a>
          
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa879;">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
                
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
    <div class="container">
        <div class = "jumbotron" style="background-color: #ffa879; margin-top: 50px;">
          <fieldset>
            <form action="/" method="post">
              <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
              <input type="submit" class="ghost-button" value="Get Weather">
            </form>
            <% if(weather !== null){ %>
              <p><%= weather %></p>
            <% } %>

            <% if(error !== null){ %>
              <p><%= error %></p>
            <% } %>
          </fieldset>
        </div>
    </div>
  </body>
</html>